.title__post {
  margin-bottom: 20px;
}

.add__post {
  margin-bottom: 30px;
}

textarea, button {
  display: block;
}

textarea {
  margin-bottom: 20px;
  width: 300px;
  height: 150px;
  resize: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border-color: rgb(94, 94, 94);
  outline: none;
  transition: all .5s;
}

textarea:focus {
  border-color: rgb(249, 191, 55);
  box-shadow: 5px 5px 10px 0px #f8920c;
}

button {
  border: none;
  border: 1px solid #333;
  padding: 10px 20px;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 3px;
  transition: .5s;
}

button:hover {
  background-color: rgb(40, 40, 40);
  color: #fff;
}