.post__item {
  margin-bottom: 20px;
}

.post__avatar {
  width: 50px;
  border-radius: 50%;
}

.post {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.feedback {
  display: flex;
  gap: 10px;
  color: #025;
}